@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
    font-family: "roboto"; 
    src: url("../public/fonts/Roboto-Regular.ttf"); 
} 
@font-face { 
    font-family: "versal"; 
    src: url("../public/fonts/Versal-Gothic.ttf"); 
}
@font-face { 
    font-family: "poppins"; 
    src: url("../public/fonts/Poppins-Regular.ttf"); 
}
@font-face { 
    font-family: "sfpro"; 
    src: url("../public/fonts/SF-Pro-Text-Regular.otf"); 
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}